<main>
  <div class="wrapper">
    <h1> Holiday Finder </h1>
      <form (ngSubmit)="onSubmit()">
        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="flex-wrapper">
              <div class="form-field">
                <app-country-select (countrySelected)="onCountrySelected($event)" ></app-country-select>
              </div>
              <div class="form-field">
                <app-subdivision-select [countryIsoCode]="country" (selectedSubdivision)="onSubdivisionSelected($event)"></app-subdivision-select>
              </div>
              <div class="form-field">
                <app-date-range-picker (dateRangeChange)="onDateRangeChange($event)"></app-date-range-picker>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="button-container">
          <button mat-fab color="primary" type="submit" extended>
            <mat-icon>search</mat-icon> Retrieve Holidays </button>
        </div>

        <mat-card appearance="outlined" class="table-wrapper">
          <mat-card-content>
            <div *ngIf="loaderHolidays">
              <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="errorHolidays.status">
              <p class="error-message">{{errorHolidays.message}} </p>
            </div>
            <div *ngIf="!errorHolidays.status && holidays.length === 0 && count <= 0">
              <p>Please select criteria and click "Retrieve Holidays" to show a list of holidays.</p>
            </div>
            <div *ngIf="!errorHolidays.status && holidays.length === 0 && count > 0">
              <p>No holidays found for the specified range</p>
            </div>
            <div *ngIf="!errorHolidays.status && holidays.length > 0">
              <app-holiday-list [holidays]="holidays"></app-holiday-list>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
  </div>
</main>

<router-outlet></router-outlet>
